@model lounga.Dto.Hotels.GetHotelDto
@{
    ViewData["Title"] = "GetHotel";
}

<h1>@ViewData["Title"]</h1>

<div>
    <p>
        @Html.DisplayNameFor(m => m.Name)
    </p>
    <p>
        @Html.DisplayFor(m => m.Name)
    </p>
</div>