@model lounga.Dto.User.UserProfileDto
@{
    ViewData["Title"] = "GetUser";
}

<h1>@ViewData["Title"]</h1>

<div>
    <p>
        @Html.DisplayNameFor(Model => Model.FirstName)
    </p>
    <p>
        @Html.DisplayFor(Model => Model.FirstName)
    </p>
    <p>
        @Html.DisplayFor(Model => Model.Token)
    </p>
</div>