@model lounga.Dto.User.UserLoginDto
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, " />
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <script>
        function loginFunction(loginStatus) {
        alert(loginStatus.innerText);
        }
    </script>
</head>

<body class="body-landing">
    <div class = "card-login">
        <div>
            <img src="https://res.cloudinary.com/du5w56akk/image/upload/v1665547476/logo-lounga_f4ce7k.png"
                alt="Lounga.png" height="120px" width="120px" style="margin-left:36%;margin-right:36%;">
        </div>
        <h1 style="text-align:center; color:#E67E22; margin-bottom:20px">
            <b>LOGIN</b>
        </h1>
        <div class = "auth-form">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class = "input-container">
                    <i class="fa fa-user icon"></i>
                    <input class="input-field" type="text" placeholder="Username" name="Username">
                    <span asp-validation-for="Username"></span>
                </div>
                <div class = "input-container">
                    <i class="fa fa-key icon"></i>
                    <input class="input-field" type="password" placeholder="Password" name="Password">
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="LOGIN" class="btn btn-lounga"/>
                </div>
            </form>
        </div>
        <div>
            <p style="text-align:center; color:#E67E22;"> Don't have an account?
                <a asp-action="Register" style="color: white;">Register Now</a>
            </p>
        </div>
    </div>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}