@{
    ViewData["Title"] = "Profile";
    var userProfileDto = ViewData["userProfileDto"];
    var userTransactionDto = ViewData["userTransactionDto"];
}

<html>
<head>

</head>
<body>
    
</body>
</html>