.button {
    background-color: #E67E22;
    border: none;
    border-radius: 7px;
    color: white;
    padding: 15px 32px;
    vertical-align: middle;
    align-items: flex-end;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .ctr {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    height: 500px;
    border-radius: 7px;
    background-color: #E67E22;
  }
  
  .ctr2 {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    border-radius: 7px;
    background-color: whitesmoke;
    height: 457px;
  }
  
  .ctr0 {
    /*padding-right: 200px;
    padding-left: 200px;*/
    padding-top: 30px;
    width: 1320px;
    padding-bottom: 5px;
  }
  
  .container {
    display: grid;
    padding-left: 0px;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
  