.detailflightheader {
    border-radius: 4px;
    padding: 5px;
    background: #E67E22;
    color: black;
    font-size: 30px;
    margin-bottom:10px;
    text-align: center;
    margin-top: 20px;
    color: #f1f1f1;
    font-weight: bold;


}