.button {
    background-color: #E67E22;
    border: none;
    color: white;
    padding: 15px 32px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .ctnr {
    width: 60rem;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
    border-radius: 10px;
    position: relative;
    background-color: white;
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
  }
  
  .ctr1 {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
    border-radius: 7px;
    background-color: #E67E22;
  }
  
  .ctr {
    padding-right: 150px;
    padding-left: 175px;
  }
  
  .container {
    display: grid;
    padding-left: 0px;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
  
.ctrnotfound
{
    margin-right: 10cm;
    padding-right: 50%;
    padding-left: 45%;
    padding-top: 100px;
}