body {
    /* font-family: "Open Sans"; */
    background: #e0e0e0;
    /* color: #ecf0f1; */
    line-height: 1.618em;
}
.wrapper {
    max-width: 60rem;
    height: 35.25rem;
    width: 100%;
    background: #ffffff;
    margin: 1rem auto;
    /* padding-top: 1rem; */
    position: relative;
    border-bottom: 0.25rem solid #bdc3c7;
}

/* form content */
.column {
    float: left;
    margin-left: 0.75rem;
    padding-top: 1rem;
    height: 35rem;
    width: 30%;
    background: #E67E22;
}
.column2 {
    float: left;
    width: 65%;
    padding-top: 1rem;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.content-image {
    border-radius: 50%;
    margin-bottom: 3rem;
}

.content-label {
    margin-bottom: 0.5rem;
    color: white;
}

.content-profile {
    margin-left: 1rem;
    margin-right: 1rem;
}

.tabs {
    position: relative;
    margin: 0.75rem 0;
    background: #E67E22;
    height: 28rem;
}
.tabs::before,
.tabs::after {
    content: "";
    display: table;
}
.tabs::after {
    clear: both;
}
.tab {
    float: left;
}
.tab-switch {
    display: none;
}
.tab-label {
    position: relative;
    display: block;
    line-height: 2.75em;
    height: 3em;
    padding: 0 1.618em;
    /* background: #d2451b; */
    background: #E67E22;
    /* border-right: 0.125rem solid #d2451b; */
    color: #fff;
    cursor: pointer;
    top: 0;
    transition: all 0.25s;
}
.tab-label:hover {
    top: -0.25rem;
    transition: top 0.25s;
}
.tab-content {
    height: 25.5rem;
    width: 40rem;
    position: absolute;
    z-index: 1;
    top: 2.75em;
    left: 0;
    padding: 1.618rem;
    background: #fff;
    color: #2c3e50;
    border-bottom: 0.25rem solid #bdc3c7;
    opacity: 0;
    transition: all 0.35s;
}
.tab-switch:checked + .tab-label {
    background: #fff;
    color: #2c3e50;
    border-bottom: 0;
    border-right: 0.125rem solid #fff;
    transition: all 0.35s;
    z-index: 1;
    top: -0.0625rem;
}
.tab-switch:checked + label + .tab-content {
    z-index: 2;
    opacity: 1;
    transition: all 0.35s;
}

.sidenav {
    height: 90%; /* tinggi penuh menyesuaikan dengan layar device */
    width: 92.5%;
    /* width: 180px; */
    position: absolute; /* posisi tetap ketika halaman di scroll */
    z-index: 1; /* posisi paling atas dari semua konten */
    background-color: #dbdbdb;
    overflow-x: hidden; /* tidak bisa scroll kesamping */
    /* padding-top: 300px; */
}

.card-transaction {
    margin-top: 0.25rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    padding-top: 0.25rem;
    padding-left: 0.25rem;
    background-color: #ffffff;
}